# macOS
.DS_Store

# Build artifacts
build/
dist/
.astro/
node_modules/
public/vvelicodnii-cv.pdf
public/favicon*
public/android-chrome-*
public/apple-touch-icon.png

# Wrangler
.wrangler

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
